In [1]:
x = 5
print(x)

y = 18

5

In [2]:
print(x)

5

In [3]:
print(y)

18

In [4]:
y = 50

In [5]:
print(y)

50

In [6]:
import pandas as pd
df = pd.read_csv('liverpool.csv')

In [7]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil